<div class="container-fluid">
 <h1>Members List App</h1>

 <div [ngSwitch]="currentView" >

   <app-member-list *ngSwitchDefault
    (onAdd)="navigateTo('add')"
    (onEdit)="memberId=$event; navigateTo('edit')"
    (onDelete)="memberId=$event; navigateTo('delete')">
   </app-member-list>

   <app-add-member *ngSwitchCase="'add'" (onClosed)="navigateTo('list')" > </app-add-member>

   <app-edit-member *ngSwitchCase="'edit'" [memberId]="memberId" (onClosed)="navigateTo('list')">
   </app-edit-member>

   <app-delete-member *ngSwitchCase="'delete'">
   </app-delete-member>

 </div>
</div>